## IS362 Project 1
### Flight delays

Code:

In [2]:
'''Flight Delays'''

import pandas as pd
import numpy as np
import os

Location = open(os.path.expanduser(r'~/IS362_Spring_2017/Project_1/delays.csv'))

df = pd.read_csv(Location)

df.head()

,Unnamed: 0,Unnamed: 1,Los Angeles,Pheonix,San Diego,San Franciso,Seattle
0,ALASKA,on time,497,221,212,503,1841
1,NaN,delayed,62,12,20,102,305
2,AM WEST,on time,594,4840,383,320,201
3,NaN,delayed,117,415,65,129,61

#### Analysis:

##### Alaska VS AM West Aprox Percentage Delays:
    LA:            Alaska 11%, AM West 16.5%
    Pheonix:       Alaska 5%,  AM West 8%
    San Diego:     Alaska 9%,  AM West 15%
    San Francisco: Alaska 17%, AM West 29%
    Seattle:       Alaska 14%, AM West 23%