## IS362 Project 1
### Flight delays

Code:

Importing CSV File(on Mac OS X)

In [8]:
'''Flight Delays'''

import pandas as pd
import numpy as np
import os

Location = open(os.path.expanduser(r'~/IS362_Spring_2017/Project_1/delays.csv'))

df = pd.read_csv(Location)

df.head()

  Airlines   Status  Los Angeles  Pheonix  San Diego  San Franciso  Seattle
0   ALASKA  on time          497      221        212           503     1841
1   ALASKA  delayed           62       12         20           102      305
2  AM WEST  on time          594     4840        383           320      201
3  AM WEST  delayed          117      415         65           129       61

Analysis:

In [9]:
sumofrows = df.set_index(['Airlines', 'Status'])
sumofrows['Total'] = sumofrows.sum(axis=1)

print(sumofrows)


alaska_total = sumofrows.xs('ALASKA').xs('delayed') + sumofrows.xs('ALASKA').xs('on time')
amwest_total = sumofrows.xs('AM WEST').xs('delayed') + sumofrows.xs('AM WEST').xs('on time')

alaska_totaldelay = sumofrows.xs('ALASKA').xs('delayed')
alaska_delay = (alaska_totaldelay/alaska_total*100).round(2)

amwest_totaldelay = sumofrows.xs('AM WEST').xs('delayed')
amwest_delay = (amwest_totaldelay/amwest_total*100).round(2)

print('Delays Stats: \n Alaska Airlines\n'
      ,alaska_delay[0:-1], '\n --------------- \n AM West Airlines\n'
      ,amwest_delay[0:-1], '\n --------------- \n'
      ,'Alaska Airlines flights delayed: ',alaska_delay[-1],'%\n'
      ,'AM West Airlines flights delayed: ',amwest_delay[-1],'%'
     )

                  Los Angeles  Pheonix  San Diego  San Franciso  Seattle  \
Airlines Status
ALASKA   on time          497      221        212           503     1841
         delayed           62       12         20           102      305
AM WEST  on time          594     4840        383           320      201
         delayed          117      415         65           129       61

                  Total
Airlines Status
ALASKA   on time   3274
         delayed    501
AM WEST  on time   6338
         delayed    787
Delays Stats:
 Alaska Airlines
 Los Angeles     11.09
Pheonix          5.15
San Diego        8.62
San Franciso    16.86
Seattle         14.21
dtype: float64
 ---------------
 AM West Airlines
 Los Angeles     16.46
Pheonix          7.90
San Diego       14.51
San Franciso    28.73
Seattle         23.28
dtype: float64
 ---------------
 Alaska Airlines flights delayed:  13.27 %
 AM West Airlines flights delayed:  11.05 %